{%extends 'base.html'%}
 

{%block pagecontent%} 
   
<div class="siteheader_topbar">  
  <div class="topbar_right">
 <!-- top bar component start--> 
<span class="topbar_item" style=""  >
  
  <span class="topbar_item_left"> 
  <i class="bi bi-telephone-inbound-fill topbar_item_left_icon" ></i>
 </span>   
  <span class="topbar_item_right">
 <span class="topbar_item_right_top"> Call us Anytime</span>  
  </span> 

<span class="topbar_item_right_bottom">+234 12345678</span>  
  </span>  
<!-- top bar component start-->
 
 <span class="topbar_item"  style=""
  >
  
  <span class="topbar_item_left">
  <i class="bi bi-envelope-at-fill topbar_item_left_icon"  style=""></i>
  </span>
  
  <span class="topbar_item_right">
 <span class="topbar_item_right_top"> Email us </span>
 </span>
    <span class="topbar_item_right_bottom">contact@yourhandiman.com.ng</span>
  
  </span>
  <!-- top bar component end-->
 <span class="topbar_item"   style=""  >
 <span class="topbar_item_left"> 
    <i class="bi bi-geo-alt topbar_item_left_icon" style=""></i>
  </span>  
  <span class="topbar_item_right">
 <span class="topbar_item_right_top"> Our Office</span>
 </span>
   <span class="topbar_item_right_bottom">#27 Awolowo way.Ikeja</span></span>
<!-- top bar component end-->
</div> </div>  
 
  
  
  
  <p class="fs-1 text-center">About us</p>
<div class="container">
<div class="row mt-4 mb-4">
<div class="col-md-6 p-4 fs-4">
YourHandiman   Services is a one-stop on-demand handyman service
 platform, connecting individuals and businesses looking for help 
 around the house and in the workplace with vetted, insured,
 and verified local handymen. Our handymen are reliable and 
 trusted individuals dedicated to helping you get your cleaning, 
 maintenance, and repair needs resolved.

</div>
<div class="col-md-5" 
style="background:url(static/images/16.jpg);height:400px;background-size:cover;"> </div>

</div>
</div>





<div class="container mt-4 mb-4">


<div class="row ">

<div class="col-md-5" 
style="background:url(static/images/17.jpg);height:400px;background-size:cover;"> </div>

<div class="col-md-6 p-4 fs-4">
From simple to complicated tasks, YourHandiman   
services include the following: Renovation needs, 
Mechanical & Electrical Services, Plumbing, Carpentry,
 Corrective civil work services, Cleaning/Janitorial,
 Decorative Flooring, Painting, Gardening services, 
 and Fumigation services. Anyworkman is available 
 to both private and corporate clients.


</div>

</div></div>



<!-- Footer --> {%endblock%}